div.qa {
  display: flex;
  margin-top: 50px;
}
div.apply_nav_bar {
  width: 170px;
}
div.apply_info {
  width: 500px;
}
a {
  text-decoration: none;
  color: black;
}
a.qa_list:hover {
  text-decoration: none;
  font-weight: 600;
  color: black;
  border-bottom: solid 5px;
  border-color: #007bff !important;
}

a.slur_qa {
  font-size: 2rem;
  font-weight: 700;
}
div.search_div {
  float: right;
  margin-bottom: 10px;
}
div.write_button {
  float: right;
}
/* button.qa_write_button {
    width: 100px;
  } */
input[name="qa_title"] {
  margin: 10px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: inherit;
  font-size: 1.5em;
}

button.qa_button {
  float: right;
  margin-right: 15px;
}

div.qa_modify {
  display: flex;
  justify-content: flex-end;
}

nav.qa_paging {
  display: flex;
  justify-content: center;
}
