div.teacher_profile {
  display: flex;
}

div.student_profile {
  display: flex;
}

label.docs_upload {
  margin-left: 15px;
}
div.student_inst {
  margin-left: 11px;
  margin-top: 8px;
}
div.teacher_inst {
  margin-left: 11px;
  margin-top: 8px;
}
#introduceTextarea {
  height: 175px;
}
#curr_Textarea {
  height: 250px;
}
div.teacher_selection {
  padding-left: 10px;
  display: flex;
}

div.student_selection {
  padding: left 10px;
  display: flex;
}
select.teacher_program {
  margin-left: 10px;
}

select.student_program {
  margin-left: 10px;
}

div.button_class {
  float: right;
}

button.teacher_modify_button {
  margin: 0px 10px;
}

button.student_modify_button {
  margin: 0px 10px;
}

.profile_rect_file label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  margin-top: 5px;
}
.profile_rect_file input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.doc_filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.doc_filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  margin-top: 10px;
} /* named upload */
.doc_filebox .upload-name {
  display: inline-block;
  padding: 0.5em 0.75em; /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
}
