.profile_infomation {
  width: 80%;
  height: 50px;  
  border-bottom: 2px solid black;
}

.profile_mainname {
  font-size: 30px;
  font-weight: 700;
}

.profile_maininfo {
  width: 945px;
  height: 200px; 
  display: flex;   
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid gray;
}

.profile_mainitem {
  width: 120px;
  height: 120px;  
  border: none;
  border-radius: 60px;
}

.profile_subinfo {
  padding-left: 20px;
}

.profile_id {
  margin-top: 10px;
}

.profile_id_item {
  display:block;
  font-size: 40px;
  font-weight: 600;
}
.prifile_id_sub {
  display:block;
  font-size: 24px;
  margin-top : 10px;
}

.login_info {
  margin-top: 30px;
  width: 300px;
  
}

.login_infoname {
  font-size: 24px;
  font-weight: 550;
}

.login_id {
  width: 300px;
  border-bottom: 1px solid gray;
}

.login_iditem {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  color: gray;
}

.pwd_info{
  display: none;
  margin-top: 30px;
}

.pwd_modifyname , .pwd_infoitem {
 display: block;
 margin-top: 20px;
}

.pwd_newinput {
 margin-top: 20px;
}

.pwd_newinput {
  width: 300px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.pwd_cancel, .pwd_save{
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.pwd_modifybutton {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pwd_before {
  width: 300px;
  border-bottom: 1px solid gray;
}

.pwd_beforeitem {
  color: gray;
  margin-top: 20px;
  display: block;
}

.pwd_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.pwd_beforeinput {
  margin-top: 10px;
}

.pwd_modify {
  padding: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.customer_info {
  width: 300px;
  margin-top: 20px;
}

.customer_name {
  padding-bottom: 10px;
  width: 300px;
  border-bottom: 1px solid gray;
}

.customer_infotitle {
  font-size: 24px;
  font-weight: 600;
}

.customer_title, .customer_value {
  display: block;
  margin-top: 15px;
}

.customer_title {
  color: gray;
}

.customer_phone {
  margin-top: 20px;
}

.phone_wrap{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.phone_modify{
  width: 43px;
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.modify_phone {
  display: none;
  margin-top: 15px;
}

.modify_title {
  display: block;
  margin-top: 15px;
}

.phone_value, .modify_value {
  margin-top: 10px;
  width: 300px;
}

.phone_modifywrap {
 display: flex;
 justify-content: center;
 margin-top: 10px; 
 text-align: center;
}

.phone_cancel, .phone_save {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.marketing_info {
  margin-top: 20px;
  width: 300px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
 
.marketing_title {
  font-size: 20px;
  font-weight: 600;
}

.marketing_p {
 margin-top: 20px;
 display: block;
}

.marketing_span:first-child {
  margin-left: 35px;
}