<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KreamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Developer</param-name>
    <param-value>SEUNGHWANLEE</param-value>
  </context-param>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PServlet</display-name>
    <servlet-name>PServlet</servlet-name>
    <servlet-class>com.day.control.PServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PServlet</servlet-name>
    <url-pattern>/p</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidbuyServlet</display-name>
    <servlet-name>BidbuyServlet</servlet-name>
    <servlet-class>com.day.control.BidbuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidbuyServlet</servlet-name>
    <url-pattern>/bidbuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailServlet</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>com.day.control.FailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/fail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bidbuy2Servlet</display-name>
    <servlet-name>Bidbuy2Servlet</servlet-name>
    <servlet-class>com.day.control.Bidbuy2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bidbuy2Servlet</servlet-name>
    <url-pattern>/bidbuy2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidbuyendServlet</display-name>
    <servlet-name>BidbuyendServlet</servlet-name>
    <servlet-class>com.day.control.BidbuyendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidbuyendServlet</servlet-name>
    <url-pattern>/bidbuyend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImmedibuyServlet</display-name>
    <servlet-name>ImmedibuyServlet</servlet-name>
    <servlet-class>com.day.control.ImmedibuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmedibuyServlet</servlet-name>
    <url-pattern>/immedibuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellServlet</display-name>
    <servlet-name>SellServlet</servlet-name>
    <servlet-class>com.day.control.SellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellServlet</servlet-name>
    <url-pattern>/sell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.day.control.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidsellServlet</display-name>
    <servlet-name>BidsellServlet</servlet-name>
    <servlet-class>com.day.control.BidsellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidsellServlet</servlet-name>
    <url-pattern>/bidsell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImmedisellServlet</display-name>
    <servlet-name>ImmedisellServlet</servlet-name>
    <servlet-class>com.day.control.ImmedisellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmedisellServlet</servlet-name>
    <url-pattern>/immedisell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bidsell2Servlet</display-name>
    <servlet-name>Bidsell2Servlet</servlet-name>
    <servlet-class>com.day.control.Bidsell2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bidsell2Servlet</servlet-name>
    <url-pattern>/bidsell2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidsellendServlet</display-name>
    <servlet-name>BidsellendServlet</servlet-name>
    <servlet-class>com.day.control.BidsellendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidsellendServlet</servlet-name>
    <url-pattern>/bidsellend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Immedisell2Servlet</display-name>
    <servlet-name>Immedisell2Servlet</servlet-name>
    <servlet-class>com.day.control.Immedisell2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Immedisell2Servlet</servlet-name>
    <url-pattern>/immedisell2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImmedesellendServlet</display-name>
    <servlet-name>ImmedesellendServlet</servlet-name>
    <servlet-class>com.day.control.ImmedesellendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmedesellendServlet</servlet-name>
    <url-pattern>/immedisellend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Immedibuy2Servlet</display-name>
    <servlet-name>Immedibuy2Servlet</servlet-name>
    <servlet-class>com.day.control.Immedibuy2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Immedibuy2Servlet</servlet-name>
    <url-pattern>/immedibuy2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImmedibuyendServlet</display-name>
    <servlet-name>ImmedibuyendServlet</servlet-name>
    <servlet-class>com.day.control.ImmedibuyendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmedibuyendServlet</servlet-name>
    <url-pattern>/immedibuyend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookmarkServlet</display-name>
    <servlet-name>BookmarkServlet</servlet-name>
    <servlet-class>com.day.control.BookmarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookmarkServlet</servlet-name>
    <url-pattern>/bookmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.day.control.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.day.control.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServlet</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.day.control.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.day.control.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindidServlet</display-name>
    <servlet-name>FindidServlet</servlet-name>
    <servlet-class>com.day.control.FindidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindidServlet</servlet-name>
    <url-pattern>/findid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindpwdServlet</display-name>
    <servlet-name>FindpwdServlet</servlet-name>
    <servlet-class>com.day.control.FindpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindpwdServlet</servlet-name>
    <url-pattern>/findpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.day.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyaddrServlet</display-name>
    <servlet-name>ModifyaddrServlet</servlet-name>
    <servlet-class>com.day.control.ModifyaddrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyaddrServlet</servlet-name>
    <url-pattern>/modifyaddr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyphoneServlet</display-name>
    <servlet-name>ModifyphoneServlet</servlet-name>
    <servlet-class>com.day.control.ModifyphoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyphoneServlet</servlet-name>
    <url-pattern>/modifyphone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifypwdServlet</display-name>
    <servlet-name>ModifypwdServlet</servlet-name>
    <servlet-class>com.day.control.ModifypwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifypwdServlet</servlet-name>
    <url-pattern>/modifypwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MypageServlet</display-name>
    <servlet-name>MypageServlet</servlet-name>
    <servlet-class>com.day.control.MypageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageServlet</servlet-name>
    <url-pattern>/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.day.control.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.day.control.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishServlet</display-name>
    <servlet-name>WishServlet</servlet-name>
    <servlet-class>com.day.control.WishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishServlet</servlet-name>
    <url-pattern>/wish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuycheckServlet</display-name>
    <servlet-name>BuycheckServlet</servlet-name>
    <servlet-class>com.day.control.BuycheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuycheckServlet</servlet-name>
    <url-pattern>/buycheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellcheckServlet</display-name>
    <servlet-name>SellcheckServlet</servlet-name>
    <servlet-class>com.day.control.SellcheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellcheckServlet</servlet-name>
    <url-pattern>/sellcheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.day.control.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>