<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
  <typeAliases>
  	<typeAlias type="com.slur.dto.Notice" alias="notice"/>
  	<typeAlias type="com.slur.dto.Program" alias="program"/>
  	<typeAlias type="com.slur.dto.Qa_Reply" alias="qa_reply"/>
  	<typeAlias type="com.slur.dto.Qa" alias="qa"/>
  	<typeAlias type="com.slur.dto.Review" alias="review"/>
  	<typeAlias type="com.slur.dto.Student" alias="student"/>
  	<typeAlias type="com.slur.dto.Teacher" alias="teacher"/>
  	<typeAlias type="com.slur.dto.User" alias="user"/>
  	<typeAlias type="com.slur.dto.Role" alias="role"/>
  </typeAliases>

  <mappers>
    <!-- <mapper resource="org/mybatis/example/BlogMapper.xml"/> -->
  <mapper resource="mybatisConfig/UserMapper.xml"/>
  <mapper resource="mybatisConfig/ApplicantsMapper.xml"/>
  <mapper resource="mybatisConfig/ProgramMapper.xml"/>
  <mapper resource="mybatisConfig/NoticeMapper.xml"/>  
  <mapper resource="mybatisConfig/QaMapper.xml"/> 
  </mappers>
</configuration>
